Library
Temp
.vs/*
*.sln
*.csproj
Build.*.log
Build
.DS_Store
NonVersioned
*.userprefs
*.suo
.vs
hidden_changes.conf
/obj
/Assets/StreamingAssets/*.bank*
/Assets/FMODStudioCache.asset*
fmod.log
fmod_editor.log
